cohorts/2025/03-orchestration/flows/q4_data_preparation.yaml
id: q4_data_preparation
namespace: mlops.zoomcamp

tasks:
  - id: extract
    type: io.kestra.plugin.core.http.Download
    uri: https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2023-03.parquet

  - id: filter_duration
    type: io.kestra.plugin.scripts.python.Script
    containerImage: python:3.11-slim
    inputFiles:
      data.parquet: "{{ outputs.extract.uri }}"
    script: |
      import subprocess
      subprocess.run(["pip", "install", "pandas", "pyarrow"], check=True)

      import pandas as pd
      df = pd.read_parquet("data.parquet")
      df['duration'] = df.tpep_dropoff_datetime - df.tpep_pickup_datetime
      df.duration = df.duration.dt.total_seconds() / 60
      df = df[(df.duration >= 1) & (df.duration <= 60)]
      categorical = ['PULocationID', 'DOLocationID']
      df[categorical] = df[categorical].astype(str)
      print("Nombre de lignes :", len(df))
